Balkonkraftwerk Vorgabe Einspeiseleistung
[{"id":"c84a1e0e8a56370b","type":"tab","label":"Balkonkraftwerk Vorgabe Einspeiseleistung","disabled":false,"info":"","env":[]},{"id":"c9e4fedf198f9db1","type":"function","z":"c84a1e0e8a56370b","name":"Addition","func":"context.waschmaschine = context.waschmaschine || 0.00;\ncontext.waermepumpe = context.waermepumpe || 0.00;\ncontext.geschirrspueler = context.geschirrspueler || 0.00;\ncontext.bueroComputer = context.bueroComputer || 0.00;\ncontext.wzEz = context.wzEz || 0.00;\n\nif (msg.topic === 'Waschmaschine')\n{ context.waschmaschine = msg.payload; }\nelse if (msg.topic === 'Waermepumpe') \n{ context.waermepumpe = msg.payload; }\nelse if (msg.topic === 'Geschirrspueler') \n{ context.geschirrspueler = msg.payload; }\nelse if (msg.topic === 'BueroComputer') \n{ context.bueroComputer = msg.payload; }\nelse if (msg.topic === 'WohnzimmerEsszimmer') \n{ context.wzEz = msg.payload; }\n\nmsg.payload = (context.waschmaschine + \ncontext.waermepumpe + \ncontext.geschirrspueler +\ncontext.bueroComputer +\ncontext.wzEz);\nmsg.topic = 'Summe'\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":320,"wires":[["4135d8f01c675d48","97e7133f66e8dfba"]]},{"id":"4135d8f01c675d48","type":"debug","z":"c84a1e0e8a56370b","name":"Summe","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":240,"wires":[]},{"id":"5e07dd477e1c209c","type":"debug","z":"c84a1e0e8a56370b","name":"Dividiert","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":240,"wires":[]},{"id":"40ef362276e23980","type":"server-state-changed","z":"c84a1e0e8a56370b","name":"State change: Leistung Wärmepumpe","server":"aa06184c1521b74e","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.messgerat_warmepumpe_leistung"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"Waermepumpe","valueType":"str"}],"x":210,"y":240,"wires":[["c9e4fedf198f9db1"]]},{"id":"97e7133f66e8dfba","type":"calculator","z":"c84a1e0e8a56370b","name":"Dividiert","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"4","round":true,"truncate":false,"decimals":0,"decimals2":0,"x":740,"y":320,"wires":[["5e07dd477e1c209c","d6972bf81ad0547a"]]},{"id":"80b30cb80e261521","type":"server-state-changed","z":"c84a1e0e8a56370b","name":"State change: Leistung Waschmaschine","server":"aa06184c1521b74e","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.waschmaschine_power"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"Waschmaschine","valueType":"str"}],"x":210,"y":180,"wires":[["c9e4fedf198f9db1"]]},{"id":"d6972bf81ad0547a","type":"smooth","z":"c84a1e0e8a56370b","name":"Geglättet","property":"payload","action":"low","count":"20","round":"0","mult":"single","reduce":false,"x":520,"y":440,"wires":[["5d720c3ec03e7ff1","cd8cec212c762aed"]]},{"id":"5d720c3ec03e7ff1","type":"debug","z":"c84a1e0e8a56370b","name":"Geglättet","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":380,"wires":[]},{"id":"78da5737e2035f92","type":"api-call-service","z":"c84a1e0e8a56370b","name":"","server":"aa06184c1521b74e","version":7,"debugenabled":false,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.balkonkraftwek_system_einspeisevorgabe"],"labelId":[],"data":"{\"value\":msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"number","service":"set_value","x":1030,"y":540,"wires":[[]]},{"id":"c5fdbb5d0984ee84","type":"server-state-changed","z":"c84a1e0e8a56370b","name":"State change: Leistung Geschirrspüler","server":"aa06184c1521b74e","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.leistungsmessung_geschirrspuler_switch_0_power"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"Geschirrspueler","valueType":"str"}],"x":210,"y":300,"wires":[["c9e4fedf198f9db1"]]},{"id":"23fa7022af9a35a0","type":"server-state-changed","z":"c84a1e0e8a56370b","name":"State change: Leistung Büro Computer","server":"aa06184c1521b74e","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.steckdose_computer_leistung"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"BueroComputer","valueType":"str"}],"x":210,"y":360,"wires":[["c9e4fedf198f9db1"]]},{"id":"49f3d4b85ba198fa","type":"server-state-changed","z":"c84a1e0e8a56370b","name":"State change: Leistung WZ + EZ","server":"aa06184c1521b74e","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.messung_wz_ez_leistung"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"WohnzimmerEsszimmer","valueType":"str"}],"x":190,"y":420,"wires":[["c9e4fedf198f9db1"]]},{"id":"c827e8f3d2aa7b8b","type":"comment","z":"c84a1e0e8a56370b","name":"Dokumentation","info":"# Werte\nEs werden gemessene Werte addiert.\nWeil das Balkonkraftwerk nur 800W ausgeben kann\nund damit die Auswirkungen nicht so groß sind,\nwird die Summe danach durch 4 dividiert.\nDie maximale Summe der gemessenen Werte (bei Gleichzeitigkeit 1) ist \n2000 + 2000 + 2000 + 250 + 3600 = 9850\nmacht also keinen Sinn, mit so einem Wert weiter zu arbeiten\n# Glättung\nDanach eine Glättung mit Tiefpass um Ausreisser und\ngroße Sprünge abzufedern (z.B. die Dampfbügelstation in WZ  EZ)\n# Limiter\nLimiter zwischen 100 und 800W\ndamit ist sichergestellt, dass der Minimalverbrauch\nim Haus geliefert wird, aber niemals mehr als 800W,\nweil ansonsten die Anker API die Vorgabe ablehnt\n# Zeitbegrenzung\nDa nur eine Unterstützung der Anlage auf dem Dach\nrealisiert werden soll, wird nur von Sonnenuntergang\nbis Sonnenaufgang eingespeist.\n# Vorgabe 0, wenn keine Unterstützung\nIn der Zeit von Sonnenaufgang bis Sonnenuntergang soll\nnicht eingespeist werden, deshalb Vorgabe fix 0.\nDamit sichergestellt ist, dass die Vorgabe auch in\nAusnahmefällen gemacht wird, wird über einen Injector\nalle 10 Minuten die Vorgabe 0 aktiviert","x":660,"y":60,"wires":[]},{"id":"cd8cec212c762aed","type":"function","z":"c84a1e0e8a56370b","name":"Limiter","func":"// Begrenzung auf Werte zwischen 100 und 800\n// Die Mindestlast im Haus ist niemals geringer als 100W\n// Die maximale Vorgabe, die von der Anker API akzeptiert\n// wird, ist 800W\n\n\nconst min = 100;\nconst max = 800;\nmsg.payload = Math.max(min, Math.min(max, msg.payload));\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":440,"wires":[["24f317c8ee7d3ec6","bcd839b4e7b57cab"]]},{"id":"24f317c8ee7d3ec6","type":"debug","z":"c84a1e0e8a56370b","name":"Limiter","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":380,"wires":[]},{"id":"bcd839b4e7b57cab","type":"delay","z":"c84a1e0e8a56370b","name":"Begrenzer 1 min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":540,"y":560,"wires":[["866cce9ba96d3165","a20f7eca7b689d14"]]},{"id":"866cce9ba96d3165","type":"time-range-switch","z":"c84a1e0e8a56370b","name":"Keine Sonne","lat":"47.43664400625329","lon":"9.670543670654299","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":750,"y":520,"wires":[["78da5737e2035f92","83941e98e59c9333"],[]]},{"id":"ec7e6188abdcde73","type":"time-range-switch","z":"c84a1e0e8a56370b","name":"Die Sonne scheint","lat":"47.43664400625329","lon":"9.70543670654299","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":770,"y":600,"wires":[["78da5737e2035f92","09bf76385f579e46"],[]]},{"id":"59a62542ceb1e1c5","type":"inject","z":"c84a1e0e8a56370b","name":"Fix 0 alle 10 Minuten","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":160,"y":600,"wires":[["ec7e6188abdcde73"]]},{"id":"a20f7eca7b689d14","type":"debug","z":"c84a1e0e8a56370b","name":"Ausgabe","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":500,"wires":[]},{"id":"83941e98e59c9333","type":"debug","z":"c84a1e0e8a56370b","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":440,"wires":[]},{"id":"09bf76385f579e46","type":"debug","z":"c84a1e0e8a56370b","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":740,"wires":[]},{"id":"aa06184c1521b74e","type":"server","name":"Home Assistant","version":6,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":["y","yes","true","on","home","open"],"connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"2e785d8114e7ea6c","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3","node-red-contrib-calc":"1.0.6","node-red-node-smooth":"0.1.2","node-red-contrib-time-range-switch":"1.2.0"}}]
