Update Fronius Werte für Dashboard.json
[{"id":"4f977a4b46923815","type":"group","z":"c84a1e0e8a56370b","name":"Update Fronius Werte für Dashboard","style":{"label":true,"stroke":"#0070c0","color":"#000000"},"nodes":["6d4ea5297a5b3372","9a4ed2eed0c47013","feda4d601a01e042","65ce7e19ad85ce35","62bd83e38eef798b","bc59ccbb6d65184c","0b75402e0f226e3b"],"x":14,"y":859,"w":1212,"h":222},{"id":"6d4ea5297a5b3372","type":"api-call-service","z":"c84a1e0e8a56370b","g":"4f977a4b46923815","name":"update Netzanschluss","server":"aa06184c1521b74e","version":7,"debugenabled":false,"action":"homeassistant.update_entity","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"entity_id\":[\"sensor.netzanschluss_wirkleistung\"]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"homeassistant","service":"update_entity","x":1100,"y":900,"wires":[[]]},{"id":"9a4ed2eed0c47013","type":"api-call-service","z":"c84a1e0e8a56370b","g":"4f977a4b46923815","name":"update PV","server":"aa06184c1521b74e","version":7,"debugenabled":false,"action":"homeassistant.update_entity","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"entity_id\": [\"sensor.solarnet_pv_leistung\"]}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"homeassistant","service":"update_entity","x":1070,"y":960,"wires":[[]]},{"id":"feda4d601a01e042","type":"api-call-service","z":"c84a1e0e8a56370b","g":"4f977a4b46923815","name":"update Haus","server":"aa06184c1521b74e","version":7,"debugenabled":false,"action":"homeassistant.update_entity","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"entity_id\":[\"sensor.solarnet_leistung_last\"]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"homeassistant","service":"update_entity","x":1070,"y":1020,"wires":[[]]},{"id":"65ce7e19ad85ce35","type":"inject","z":"c84a1e0e8a56370b","g":"4f977a4b46923815","name":"Intervall 10s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"iso","payloadType":"date","x":130,"y":960,"wires":[["bc59ccbb6d65184c","62bd83e38eef798b"]]},{"id":"62bd83e38eef798b","type":"debug","z":"c84a1e0e8a56370b","g":"4f977a4b46923815","name":"Zeit","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":1040,"wires":[]},{"id":"bc59ccbb6d65184c","type":"junction","z":"c84a1e0e8a56370b","g":"4f977a4b46923815","x":680,"y":960,"wires":[["6d4ea5297a5b3372","9a4ed2eed0c47013","feda4d601a01e042"]]},{"id":"0b75402e0f226e3b","type":"comment","z":"c84a1e0e8a56370b","g":"4f977a4b46923815","name":"Doku","info":"# Update Fronius Werte für Dashboard\nDie Werte werden von der Fronius API im Standard nur alle 30 Sekunden abgefragt.  \nDas ist eine nicht veränderbare Standardeinstellung.\nNachdem die Werte von den Shelly Messgeräten aber subscribed werden und somit on change nicht vorhersebar kommen, entsteht oft ein etwas seltsames Bild mit inkosistenent Werten.","x":350,"y":900,"wires":[],"icon":"font-awesome/fa-info"},{"id":"aa06184c1521b74e","type":"server","name":"Home Assistant","version":6,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":["y","yes","true","on","home","open"],"connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"05e3b9cb05276766","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3"}}]
